<!doctype html>
<html>
  <head>
    <title>Koa2</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/externals/css/semantic.min.css"/>
		<link rel="stylesheet" href="/assets/externals/css/font-awesome.css"/>
		<link rel="stylesheet" href="/assets/externals/css/buttons.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/assets/externals/css/body.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/assets/externals/js/jquery.min.js"></script>
		<script src="/assets/externals/js/jquery-ui.min.js"></script>
		<script src="/assets/externals/js/jquery.color-2.1.2.min.js"></script>
		<script src="/assets/externals/js/semantic.min.js"></script>
		<script src="/assets/externals/js/buttons.js"></script>
		<script src="/assets/externals/js/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  </head>
  <body class="background-init">
    <app></app>
    <script type="text/javascript" src="/assets/bundle.js"></script>
  </body>
</html>
